<p id="notice"><%= notice %></p>

<h1>Contact Mike</h1>


<p>Welcome <%= current_user.username %>!</p>

<p>You can contact me in several ways.  I prefer being contacted by smoke signals, semaphore, and telegraph.  </p>





<audio controls>
	<source src="http://mattersofgrey.com/audio/jawa.mp3" type="audio/mpeg" />
	<a href="http://mattersofgrey.com/audio/jawa.mp3">jawa</a>
</audio>

<audio controls>
	<source src="http://mattersofgrey.com/audio/r2d2-squeaks3.mp3" type="audio/mpeg" />
	<a href="http://mattersofgrey.com/audio/r2d2-squeaks3.mp3">r2d2</a>
</audio>

<audio controls>
	<source src="http://kylesmyth.com/wp-content/uploads/2008/05/utinni.mp3" type="audio/mpeg" />
	<a href="http://kylesmyth.com/wp-content/uploads/2008/05/utinni.mp3">jawa2</a>
</audio>

<audio controls>
	<source src="http://www.moviewavs.com/0053148414/MP3S/Movies/Star_Wars/wookie2.mp3" type="audio/mpeg" />
	<a href="http://www.moviewavs.com/0053148414/MP3S/Movies/Star_Wars/wookie2.mp3">chewbacca</a>
</audio>

<audio controls>
	<source src="http://www.moviewavs.com/0053148414/MP3S/Movies/Star_Wars/starwars.mp3" type="audio/mpeg" />
	<a href="http://www.moviewavs.com/0053148414/MP3S/Movies/Star_Wars/starwars.mp3">main_theme</a>
</audio>

