<p id="notice"><%= notice %></p>

<h1>Contact Mike</h1>
<% counter = 0 %>

<p>Welcome <%= current_user.username %>!</p>

<p>You can contact me in several ways.  I prefer being contacted by smoke signals, semaphore, and telegraph.  </p>





<audio controls>
	<source src="http://mattersofgrey.com/audio/jawa.mp3" type="audio/mpeg" />
	<a href="http://mattersofgrey.com/audio/jawa.mp3">jawa</a>
</audio>

<audio controls>
	<source src="http://mattersofgrey.com/audio/r2d2-squeaks3.mp3" type="audio/mpeg" />
	<a href="http://mattersofgrey.com/audio/r2d2-squeaks3.mp3">jawa</a>
</audio>
